* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

footer {
    margin-top: 125px;
    margin-bottom: 50px;
}

header {
    margin-top: 20px;
}
header h1 {
    display: inline;
}
img {
    margin-right: 10px;
    display: inline;
    float: left;
    width: 200px;
}
#soundboard {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    width: 100%;
}

.soundboardNode {
    overflow: hidden;
    margin: 10px 10px 0 0;
    background-color: #EEF0F3;
    width: 18%;
    width: 200px;
    height: 175px;
    padding: 20px;
    cursor: pointer;
    text-align: center;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    -webkit-transition: background-color .1s ease-in-out;
    -moz-transition: background-color .1s ease-in-out;
    -o-transition: background-color .1s ease-in-out;
    transition: background-color .1s ease-in-out;
}

@media only screen and (max-width: 1360px) {
    .container {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media only screen and (max-width: 460px) {
    img {
        margin: 5px;
        width: calc(100% - 10px);
    }
    .soundboardNode {
        width: calc(50% - 10px);
        margin: 5px;
    }
}

@media only screen and (max-width: 300px) {
    .soundboardNode {
        margin: 10px 0 0 0;
        width: 100%;
    }
}

.soundboardNode:hover {
    color: white;
    background-color: #555;
}
.soundboardNode:active {
    background-color: #333;
}
